<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tirol.basecamp.alfredworkflow.airport-codes</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>85965971-40c1-4e38-9c00-a82e11c4987c</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7D520C0-D374-4DCD-A3C1-E0E17D5F3B2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96F586F2-3410-4CF3-A296-CCDDC69CEC77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7D520C0-D374-4DCD-A3C1-E0E17D5F3B2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B36A5FA1-BE11-43B9-9B6C-F04CE328E1B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexander Graf</string>
	<key>description</key>
	<string>Airport search by IATA code or keyword</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Airports</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:WF_URL}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B36A5FA1-BE11-43B9-9B6C-F04CE328E1B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:WF_URL}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F7D520C0-D374-4DCD-A3C1-E0E17D5F3B2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>96F586F2-3410-4CF3-A296-CCDDC69CEC77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>airport</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Updating database ...</string>
				<key>script</key>
				<string>/usr/bin/python airports.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Details about every airport in the world</string>
				<key>title</key>
				<string>Search airports by IATA code or name</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>85965971-40c1-4e38-9c00-a82e11c4987c</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow to get information about any airport.</string>
	<key>uidata</key>
	<dict>
		<key>85965971-40c1-4e38-9c00-a82e11c4987c</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>96F586F2-3410-4CF3-A296-CCDDC69CEC77</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>B36A5FA1-BE11-43B9-9B6C-F04CE328E1B8</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>F7D520C0-D374-4DCD-A3C1-E0E17D5F3B2C</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.6</string>
	<key>webaddress</key>
	<string>https://github.com/otherguy/alfred-airports-workflow</string>
</dict>
</plist>
